<template>

  <div class="col-full push-top">
    <h1>{{ category.name }}</h1>

    <CategoryListItem :category="category" />
  </div>

</template>

<script>
  import CategoryListItem from '@/components/CategoryListItem'

  export default {
    components: {
      CategoryListItem
    },

    props: {
      id: {
        type: String,
        required: true
      }
    },

    computed: {
      category () {
        return this.$store.categories[this.id]
      }
    }
  }
</script>
